* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 22px;
  font-family: sans-serif;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  color: white;
}

.app {
  width: 100%;
  max-width: 420px;
  background-color: #000000d0;
  padding: 1.5em 2em;
  border-radius: 32px;
}

.search {
  display: flex;
  align-items: flex-start;
}

.search__input {
  margin-bottom: 16px;
  padding: 8px;
  width: 80%;
  border-radius: 32px;
  border: none;
  outline: none;
  font: inherit;
  font-size: 18px;
  text-transform: capitalize;
  background-color: #7c7c7c54;
  color: white;
}

.search__btn {
  height: 2.4rem;
  width: 2.5rem;
  border-radius: 50%;
  border: none;
  background-color: #7c7c7c54;
  margin-left: 8px;
  cursor: pointer;
  color: white;
}

.temp {
  padding-top: 16px;
}

.temp-img {
  display: flex;
  gap: 16px;
  padding: 12px 0;
}

.desc {
  text-transform: capitalize;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  font-size: 18px;
}